.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.product-card {
  height: 100%; /* Ensure the card takes full height of the column */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out image and content */
}

.product-image {
  width: 30%; /* Ensure the image takes full width of its container */
  height: 150px; /* Set a fixed height to control image size */
  object-fit: contain; /* Scale the image to cover the container */
}

.product-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

body {
  background-color: rgb(250, 250, 250) !important;
  padding-top: 50px !important;
}

.price {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.hover-effect {
  transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
  transform: translateY(-10px);
}
